.body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

#menu ul {
    padding: 5px;
    margin: 0px;
    list-style: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 4px 20px;
    border-bottom: 3px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    margin: 30px;
}

#menu ul li a:hover {
    background-color: white;
    color: black;
    border-bottom: 3px solid black;
}

header {
    background-color: rgba(255, 255, 255, 0.651);
    margin-top: 5px;
}

h1 {
    text-align: center;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    margin: 30px;
}

.item {
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    background-color: gray;
}

.logo {
    padding-top: 7px;
}

#cabeca {
    text-align: center;
}

.textonoticia {
    text-align: left;
}

#not1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

.cabecalhonoticia {
    text-align: center;
}

.conteudoNot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

#textoCinema {
    background-color: gray;
    margin-top: 100px;
    text-align: center;
}

span {
    font-weight: bold;
}

footer {
    background-color: gray;
}

#rodape {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#nomesRodape {
    text-align: center;
    padding: 40px;
    padding-right: 240px;
}

#areaLogoRodape {
    padding: 25px;
}
h2{
    text-align: center;
}